.blog__post {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-direction: column;

  p {
    font-size: 1.2rem;
  }

  &__img {
    img {
      width: 100%;
    }
  }

  .button-section {
    display: flex;
    align-items: center;
  }

  .button {
    padding: 1rem;
    background-color: #b34700;
    color: #ffff;
    font-weight: 600;
    border-radius: 10px;
    position: relative;
    margin-right: 1rem;

    &::after {
      position: absolute;
      content: "";
      border-radius: 17%;
      width: 0;
      height: 0;
      background-color: rgb(0, 0, 0, .1);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.3s linear;
    }

    &:hover::after {
      width: 100%;
      height: 56px;
    }
  }
}

.related-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  border-radius: 20px;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;

  .img-wrapper {
    width: 100%;
    overflow: hidden;
    padding-bottom: 1rem;
    position: relative;

    .field__item {
      width: 100%;
      height: 100%;

      img {
        transition: filter 0.3s ease;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 20px;
      }
    }
  }

  .field--name-field-section-title {
    text-align: center;
    padding-top: 1rem;

    a {
      color: black;
    }

  }

  &:hover {
    box-shadow: 0px 5px 12px rgb(0 0 0 / 29%);
    transform: translateY(-2px);

    .img-wrapper {
      img {
        filter: brightness(0.5);
      }
    }

    a {
      color: #b34700;
    }
  }
}

#edit-comment-body-0-format {
  display: none !important;

  .form-textarea-wrapper {
    max-height: max-content;
  }
}