{{ attach_library('custom_theme/todo') }}
<div id="to-do-container">
  <h2>Todo List</h2>
  <div id="to-do-container__input">
    <input type="text" id="new-task-id" placeholder="Add New Task">
    <button class="add-button">Add Task</button>
  </div>
  <ul class="to-do-list">

  </ul>
</div>
